* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 100;
}

body {
  /* COLORS */
  --white: #F7F1E1;
  --cream: #F6E6CB;
  --dcream: #EACEA3;
  --beige: #CDAD93;
  --terracotta: #B9816D;
  --dterracotta: #885444;
  --peach: #E5AE8A;
  --orange: #BF835A;
  --green: #4B5243;
  --dgreen: #2C3834;

  /* FONTS */
  --mono: 'source-code-pro';
  --display: 'lust-sans';
  --title: 'cambria';
  --desc: '';
}

.header {
  background-image: url(/media/images/wedding/wedding3.jpg);
  width: 100vw;
  height: 100vh;
  background-size: cover;
}

.logo {
  display: block;
  margin: 0 auto;
  width: 500px;
  height: auto;
  padding: 30px 0;
}

#wedding {
  margin-left: 25%;
}

#photographer {
  margin-left: 13%;
}

nav {
  width: 100%;
  position: sticky;
  top: 15px;
  z-index: 1000;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  padding: 0 50px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 45px;
  font-weight: 500;
  transition: all 0.3s ease;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

nav ul li a:hover {
  color: var(--cream);
}

.dundeePhotography {
  display: flex;
  flex-direction: column;
  height: 100px;
  width: auto;
  position: absolute;
  left: 50px;
  top: 15%;
}

.custReview {
  background-image: url(/media/images/wedding/wedding11.jpg);
  background-position: center;
  min-height: 350px;
  width: 100vw;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px;
  border-color: var(--peach);
  border-style: solid none;
  filter: grayscale(20%);
}

#custReviewHead {
  font-size: 25px;
  padding-left: 3%;
  padding-top: 1%;
  padding-bottom: 1%;
  font: 15px 10px var(--title);
}

#custReviewText {
  color: var(--cream);
}

/* SERVICE CARDS */
#services {
  background-color: var(--beige);
  height: 650px;
}

.sectionTitle {
  display: flex;
  justify-content: center;
  font-family: 'secular one', sans-serif;
  font-size: 50px;
  font-weight: 500;
  color: var(--white);
  padding: 20px;
  padding-top: 50px;
}

.minip {
  width: 300px;
  height: 450px;
  margin: auto;
  background: var(--white);
  position: relative;
  box-shadow: 0px 0px 5px var(--terracotta);
  flex: 0 0 auto;
}

.minip .mg {
  width: 100%;
  height: 200px;
  position: absolute;
  top: 0px;
  left: 0px;
  display: grid;
  grid-template-columns: 250px 50px;
  grid-template-rows: 100px 150px;
  grid-template-areas: 'clr group' 'clr .....';
  transition: grid-template-columns .6s linear, grid-template-rows .6s linear;
}

.minip:hover .mg {
  grid-template-columns: 150px 150px;
  grid-template-rows: 50px 300px;
  transition: grid-template-columns .6s linear, grid-template-rows .6s linear;
}

.minip .mg .clr {
  grid-area: clr;
  background: var(--green);
}

.minip .mg .group {
  font: 10px/10px var(--mono);
  text-transform: uppercase;
  letter-spacing: 1px;
  writing-mode: vertical-lr;
  display: flex;
  align-items: center;
  justify-content: center;
}

.minip .mg .group span {
  display: block;
  transform: rotate(180deg);
  transition: transform .6s linear;
}

.minip:hover .mg .group span {
  transform: rotate(270deg);
  transition: transform .6s linear;
}

.minip .av {
  width: 200px;
  height: 350px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  background: var(--green);
  background-position: top center;
  background-size: cover;
  transition: width .6s linear, height .6s linear;
}

.minip:hover .av {
  width: 250px;
  height: 400px;
  transition: width .6s linear, height .6s linear;
}

.minip .info {
  width: 200px;
  max-height: 230px;
  padding: 25px;
  position: absolute;
  bottom: 100px;
  left: 0px;
  background: var(--peach);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: flex-start;
  transition: bottom .6s linear;
  opacity: 0.98;
}

.minip:hover .info {
  bottom: 80px;
  transition: bottom .6s linear;
}

.minip .info name {
  display: block;
  font: 25px/15px var(--display);
  text-indent: -25px;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0px 0px 10px 25px;
}

.minip .info deets {
  font: 15px/15px var(--mono);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.minip a.plot {
  width: 110px;
  height: 30px;
  position: absolute;
  bottom: 85px;
  left: 85px;
  background: var(--dgreen);
  font: 10px/10px var(--mono);
  text-transform: uppercase;
  color: var(--white);
  text-decoration: none;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: bottom .6s linear;
}

.minip:hover a.plot {
  bottom: 60px;
  transition: bottom .6s linear;
}

.cardContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 200px;
  margin-top: 20px;
}

/* GALLERY */
#gallery {
  background-color: var(--dgreen);
  position: relative; 
  height: 100vh;
}

/* Style for the description container */
.galleryDescription h3 {
  position: absolute;
  top: 165px; 
  left: 15%;
  max-width: 300px; 
  font-size: 1.5em;
  color: var(--white);
  margin: 0; 
}

.galleryContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.mainImage {
  width: 100%;
  margin-bottom: 20px;
}

.mainImage img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.thumbnailContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;
}

.thumbnail {
  width: 100%;
  height: 150px;
  object-fit: cover;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.thumbnail:hover {
  opacity: 0.8;
}

.galleryWave {
  margin-top: -400px;
}

/* CONTACT */
#contact {
  background-color: var(--dgreen);
  padding: 2em;
  color: var(--white);
}

.sectionTitle {
  text-align: center;
  font-size: 2em;
  margin-bottom: 1em;
}

.contactContainer {
  display: flex;
  gap: 2em;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.joSmith {
  flex: 1 1 500px;
  text-align: center;
  margin: auto 0;
  margin-right: 150px;
}

.joSmith img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.contactContent {
  flex: 2 1 500px;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.contactDetails {
  font-size: 1.1em;
  line-height: 1.6;
}

.contactForm {
  padding: 2em;
  border: 2px solid var(--cream);
}

.contactForm label {
  display: block;
  margin-top: 1em;
  font-weight: bold;
}

.contactForm input,
.contactForm textarea {
  width: 100%;
  padding: 0.8em;
  margin-top: 0.3em;
  margin-bottom: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 1em;
}

.contactForm input:focus,
.contactForm textarea:focus {
  border-color: var(--peach);
  outline: none;
}

.submitButton {
  padding: 0.8em 1.5em;
  font-size: 1em;
  font-weight: bold;
  color: #fff;
  background-color: var(--dterracotta);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center;
  width: 100%;
}

.submitButton:hover {
  background-color: var(--peach);
  color: var(--green);
}

.map {
  margin-top: 2em;
  text-align: center;
  overflow: hidden;
  border-radius: 8px;
}

/* FOOTER */
footer {
  background-color: var(--dgreen);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white);
}

.footerContent {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  gap: 10px; 
  max-width: 1200px;
  margin: auto;
}

.footerContent .logo {
  width: 450px; 
}

.footerContent p {
  margin: 0; 
}


.socialMedia {
  display: flex;
  gap: 15px; 
}

.socialMedia i {
  font-size: 24px;
  color: var(--white);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.socialMedia i:hover {
  transform: scale(1.2);
}